.Title {
    background-color: #00f00f;
    color: rgba(55, 20, 42, 10);
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-list {
    text-align: center;
    background-color: #0ff0ff;
    color: hsl(10, 90, 40);
    font-size: 44px;
    font-family: fantasy;
}

.Steps.Title {
    background-color: rgb(1, 8, 117);
    color: lightsalmon;
    font-size: 66px;
}

.Description.Title {
    background-color: #44f;
    color: maroon;
}

.Ingredients.Title {
    background-color: mediumspringgreen;
    color: #00c21a;
}